<template lang="html">
    <div class="col-xs-12 col-sn-10 col-md-4 padding">                
        <div class="card">
            <header class="bg-primary padding">

            </header>
            <div class="card-body padding">
                <h2 class="card-title">
                    <a :href="'/products/'+product.id">
                        {{product.title}}
                    </a>
                </h2>
                <h2 class="card-subtitle">{{product.humanPrice}}</h2>
                <h2 class="card-text">{{product.description}}</h2>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            product: {
                type: Object
            }
        }
    }
</script>